.header {
    background-color: rgb(35, 33, 33);
    color: white;
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 20px;
}
.logo >img {
    width: 70px;
}
.nav-items > ul {
    display: flex;   
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    list-style-type: none;
}
.res-card {
    
    width :200px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: orange;
}
.res-card:hover {
    border: 1px solid lightgray;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 10px 10px rgb(246, 242, 242) ;
    transition: box-shadow 0.3s ease-in-out 0s;
}
.res-logo {
    width : 100%;
    padding: 10px 0px;
    background: transparent;
}
.search {
    margin : 15px;
    padding: 10px;
}
.res-components{
    display: flex;
    flex-wrap: wrap;
}
.body{
    background-color: rgb(35, 33, 33);
    color: white;
}
